.pro{
  margin: 0% 20%;
}
h1{
    text-align: center;
    font-size: 56px;
    font-family: 'Gabarito', cursive;
    margin:0.5rem;
}
h4{
  font-size: 16px;
}
.project1{
  margin: 5% 0%;
    display: flex;
    flex-wrap: wrap;
}
.column img{
  width: 100%;
  height: auto;
  border-radius: 20px;
 

}
.icons img{
  width: 40px;
  height: 40px;
  margin-top: 15px;
  margin-right: 10px;
}
.column {
  padding: 0%;
  font-size: 20px;
  font-family: 'Gabarito', cursive;
  
  flex: 1;
}

.column:nth-child(2) {
  flex: 55%;
  padding: 0% 5%;
  align-self: center;
}

.column:nth-child(1) {
  flex: 45%;
  align-self: center;

}

.code {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  gap: 15px;
  background-color: #003459;
  outline: 3px #003459 solid;
  outline-offset: -3px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 400ms;
}

.code .text {
  color: white;
  font-weight: 700;
  font-size: 1em;
  transition: 400ms;
}

.code svg path {
  transition: 400ms;
}

.code:hover {
  background-color: transparent;
}

.code:hover .text {
  color: #003459;
}

.code:hover svg path {
  fill: #003459;
}

.buttons{
  display: flex;
  margin: 2%;
}
.code{
  margin-right:10%;
}
@media screen and (max-width: 767px) {
  .pro{
    margin: 0% 2%;
  }
} 