
.hero{
  margin: 0% 20%;
  padding-top: 2%;
}
.container {
    font-family: 'Gabarito', cursive;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10%;
}

.column {
    
    flex: 50%;
    margin-top: 4rem;
    padding: 20px;
}
.column1{
    flex: 35%;
    margin-top: 3rem ;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
}
h2{
    
    font-size: 56px;
}
 .column p{
    text-align: start;
    font-size: 20px;
    padding-top: 20%;
    
    
 }
 .column h3{
    padding-top:2.5rem;
    padding-bottom: 1.5rem;
 }
 .column1 p{
    font-size: 20px;
    padding-bottom: 1rem;
 }
.container img{
    width: 100%;
    height: auto;
    border-radius: .6rem;
    
}
.card1{
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 25px;
  gap: 20px;
}

/* for all social containers*/
.socialContainer {
  border-radius: 5px;
  width: 52px;
  height: 52px;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: .3s;
}
/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: .3s;
}
/* twitter*/
.containerTwo:hover {
  background-color: #7289DA;
  transition-duration: .3s;
}
/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: .3s;
}
/* Whatsapp*/
.containerFour:hover {
  background-color:  #171515;
  transition-duration: .3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: .3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@media screen and (max-width: 767px) {
  .hero{
    margin: 0% 2%;
  }
} 